@keyframes img_swing {
    0%   {transform: rotate(50deg);}
    25%  {transform: rotate(0);}
    50%  {transform: rotate(40deg);}
    100%  {transform: rotate(10deg);}
}

@keyframes intro_inout {
    0% { opacity: 0;}
    25% { opacity: 50;}
    50% { opacity: 100;}
    75% { opacity: 30;}
    100%  {opacity: 0;}
}

@keyframes h1_inout {
    0% { opacity: 0;}
    50% { opacity: 100;}
    80% { opacity: 100;}
    100%  {opacity: 0;}
}

@keyframes hide_el {
    from { display: block;}
    to { display: none;}
}

@keyframes show_el {
    from { opacity: 0;}
    to { opacity: 100; }
}

@keyframes show_el2 {
    from { visibility: hidden;}
    to { visibility: visible; }
}

@keyframes blink {
    from { background-color: #0a0a0a;}
    to { background-color: #ffc107; }
}

/** animation elements **/
.intro h1 {
    animation-name: h1_inout;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.intro p {
    animation-name: intro_inout;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.intro p.two { animation-delay: 2s;}
.intro p.three { animation-delay: 4s;}

p.two img {
    animation: img_swing 0.8s forwards;
    animation-delay: 2.2s;
}

/*.intro {
    display: none;
}*/

.table {
    opacity: 0;
    animation-name: show_el;
    animation-delay: 8s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 10;
}

.active {
    visibility: hidden;
    animation-name: show_el2;
    animation-duration: 300ms;
}

.player-card.active {
    animation-name: blink;
    animation-duration: 800ms;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Yatra One';
    font-style: normal;
    src: url(fonts/YatraOne-Regular.ttf);
  }

body {    
    font-family: 'Times New Roman', Times, serif;
    color: rgb(245, 246, 247);    
    font-size: 1.2em;
    background: rgb(30,30,30);
}

.container {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    padding: 0 50px;
}

.intro {
    position: absolute;
    top: 30%;
    font-family: 'Yatra One', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.intro h1 {
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 0;
    text-shadow: 2px 2px rgb(126, 125, 125);
}

.intro p.two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.players {
    display: flex;
    justify-content: space-between;
}

.player .info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.player img.avatar,
img.player-card {
    object-fit: none;
    border-radius: 50%;
    width: 180px;
    border: 3px solid #fff;
}

.player.you img.avatar {
    object-position: 55% 30%;
}

img.player-card {
    object-fit: contain;
    width: 70px;
    height: 70px;
    padding: 8px;
    background-color: #ffc107;
    visibility: hidden;
}

.scratch {
    position: absolute;
    width: 200px;    
    visibility: hidden;
}

.enemy .scratch {
    right: 0;
}

.player-hp-wrapper {    
    height: 15px;
    border: 2px solid #fff;  
    position: relative;
    margin-top: 20px;
}

.player-hp-wrapper .hp {
    width: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.round-stat {
    margin-top: 50px;
}

.cards img {
    width: 70px;
    filter: invert(1);
    border: 3px solid #000;
    padding: 50px;
    border-radius: 20px;
    cursor: pointer;
}

#restart-game {
    margin-top: 20px;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    visibility: hidden;
}